<div class="full-width bg-gif">
<div class="full-width" style="min-height: 300px;background: rebeccapurple;">
    <div style="float: left;width:70%;">
        <div class="slanted">
        </div>
    </div>
</div>
<div class="full-width text-center">
    <h1>
        <span class="bd-bottm">What's Trending</span>
    </h1>
    <br>
    <h4 class="mg-center">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
    </h4>
    <br>
</div>
<div id="wrapper">
    <div id="columns">
        <div class="pin"  ng-repeat="data in dataThumbnail track by $index">
            <!--<a ng-if="data.user" href="{{data.user.avatar_url}}" target="_blank">-->
                <!--<img ng-src="{{data.user.avatar_url}}"/>-->
                <!--<ul class="list-inline">-->
                    <!--<li><b>{{data.user.display_name}}</b></li>-->
                <!--</ul>-->
                <!--<p>{{}}</p>-->
            <!--</a>-->
            <a href="{{data.url}}" target="_blank">
                <img ng-src="{{data.images.original.url}}" />
                <!--<ul class="list-inline">-->
                    <!--<li><b>View Profile</b></li>-->
                    <!--</ul>-->
            </a>
        </div>

    </div>
</div>
</div>

<style>

</style>