<div class="full-width map-parentDiv">
    <div id="map"></div>
</div>
<div class="setDiv2">
    <!--<form ng-submit="getLoc()">-->
    <div class="full-width" style="position: relative;box-shadow:0 0 6px lightgray;">
        <h5 class="text-center spHead">Search Location</h5>
        <span class="locpin"><img src="assets/images/placeholder-30.png" style="width:19px;"> </span>
        <input type="text" id="SearchAddress" autocomplete="off" ng-model-options="{debounce:1000}" class="form-control SPInputSearch" g-places-autocomplete ng-change="CPaddress()" ng-model="MapAddress.address">

    </div>
</div>

<div ng-include src="'app/components/flickrMap/imageViewerDialog.html'"></div>

<style>
    #map{
        height: 100vh;width: 100%;
    }
</style>
